@font-face {
    font-family: 'UbuntuMono';
    src: url('../font/UbuntuMono-R.woff2') format('woff2');
}
@font-face {
    font-family: 'UbuntuMono';
    src: url('../font/UbuntuMono-B.woff2') format('woff2');
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #000;
    font: 22px 'UbuntuMono';
}

a {
    color: inherit;
    text-decoration: none;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
    padding: 0 20px;
    text-align: center;
    font-size: 2rem;
    color: #eee;
    user-select: none;
    animation: logo 0.8s ease-in-out;
}

#logo a img {
    width: 100px;
}

#logo a {
    flex-shrink: 0;
    margin-left: 30px;
    height: 102px;
    width: 102px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.1s ease-out;
}

#logo a:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

#projects {
    text-align: center;
    padding: 0 10%;
    color: #eee;
}

.project {
    display: inline-block;
    margin: 0 20px 30px 20px;
    padding: 20px;
    width: 400px;
    user-select: none;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: transform 0.2s ease-out;
    filter: opacity(0);
}
.project:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid #fff;
}

.project-img {
    margin-top: 12px;
    padding-top: 18px;
    width: 100%;
    height: 220px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    object-fit: cover;
    object-position: center;
    image-rendering: optimizeQuality;
}

.project-appear {
    animation: appear 0.4s ease-in-out;
    filter: opacity(1);
}

@keyframes appear {
    from {
        transform: scale(0.9);
        filter: opacity(0);
    }
}

@keyframes logo {
    from {
        transform: translateY(1.8em) scale(0.65);
        filter: opacity(0);
    }
}

@media (max-width: 850px) {
    #logo {
        flex-direction: column;
    }

    #logo a {
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    #projects {
        padding: 0;
    }

    .project {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        font-size: 0.8rem;
    }

    .project-img {
        height: 160px;
    }
}
